@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins';
}

body {
    background-color: rgba(25, 25, 25, 0.0125);
}

.container-md {
    margin: 0;
    padding: 0;
}

@media screen and ( min-width : 768px ) {
    body {
        max-height: auto;
        overflow-y: scroll;
    }
}

/* Avatar */
.avatar {
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
    color: white;
    display: flex;
}
.avatar > img {
    width: inherit;
    height: inherit;
    border-radius: 50%;
}
.avatar-sm {
    width: 30px;
    height: 30px;
    font-size: 10px;
}
.avatar-md {
    width: 45px;
    height: 45px;
    font-size: 17.5px;
}
.avatar-square {
    width: 75px;
    height: 75px;
    font-size: 45px;
    border-radius: 5px;
}

/* Header */
.brand, .user-menu {
    width: fit-content;
}
.search-form, .search-form input {
    height: 45px;
}
.user-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.navbar-brand {
    font-size: 25px;
    font-family: 'Poppins';
    color: #0C1E7F !important;
    font-weight: bolder !important;
}
.item {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.75);
}
.u-image {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.25);
}
.dropdown > .dropdown-menu {
    width: 200px;
    margin-top: 10px;
}
.footer .item {
    transform: scale(1.25);
}
@media screen and ( max-width: 768px ) {
    .search-form {
        width: 70%;
    }
    .user-menu {
        justify-content: space-evenly;
    }
}

/* Responsiveness */
.header .mobile {
    display: none;
}
.header .system {
    display: flex;
}
.footer-sys {
    display: block;
}
.footer-mob {
    display: none;
}
@media screen and ( max-width: 768px ) {
    .header .mobile {
        display: block;
    }
    .header .system {
        display: none;
    }
    .footer-sys {
        display: none;
    }
    .footer-mob {
        display: flex;
    }
}

/* Scrollbar CSS */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track { 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgba(25, 25, 25, 0.1); 
    box-shadow: inset 0 0 2.5px grey;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(25, 25, 25, 0.15); 
}

/* Animations */
[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 2s ease; 
    text-indent: -100%;
    opacity: 1;
}

@keyframes pulse {
    0% {    transform: scale(1);    }
    50% {   transform: scale(1.25); }
    100% {  transform: scale(1);    }
}
@keyframes volley {
    0% {    margin-left: -35px; }
    50% {   margin-left: -15px; }
    100% {  margin-left: -35px; }
}
@keyframes zoom-in {
    0% {    transform: scale(0);    }
    100% {    transform: scale(1);  }
}
@keyframes pull {
    from {   height: 0;  }
    to { height: 300px;  }
}