* {
    font-family: 'Poppins';
}
body {
    background-color: rgba(25, 25, 25, 0.0125);
}
.container-fluid {
    margin: 0;
    padding: 0;
}
a {
    color: inherit !important;
    text-decoration: none;
}
h1 {
    font-family: 'Montserrat';
    font-size: 50px;
}
#home {
    margin: 0;
    padding: 0;
    height: 100vh;
    color: rgb(25, 25, 25);
}
#home .row {
    height: 100%;
}
#color-balls {
    display: flex;
}
#color-balls > div {
    font-size: 25px;
}
#form-set {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.login-form, .register-form, .request-form {
    width: 50%;
    height: min-content;
}
@media screen and ( max-width: 768px ) {
    h1 {
        font-size: 35px;
    }
    #phrase {
        text-align: center;
    }
    #color-balls {
        align-items: center;
        justify-content: center;
    }
    .login-form, .register-form, .request-form {
        width: 90%;
    }
    #form-set .col-md-6 {
        width: 50%;
    }
    .login-form .options {
        font-size: small;
    }
}

/* Avatar */
.avatar {
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
    color: white;
    display: flex;
    margin: auto;
}
.avatar > img {
    width: inherit;
    height: inherit;
    border-radius: 50%;
}
.avatar-sm {
    width: 30px;
    height: 30px;
    font-size: 10px;
}
.avatar-md {
    width: 45px;
    height: 45px;
    font-size: 17.5px;
}
.avatar-lg {
    width: 75px;
    height: 75px;
    font-size: 30px;
}
.avatar-square {
    width: 75px;
    height: 75px;
    font-size: 37.5px;
    border-radius: 5px;
}
.avatar-square-sm {
    width: 50px;
    height: 50px;
    font-size: 25px;
    border-radius: 5px;
}

/* Header */
.brand, .user-menu {
    width: fit-content;
}
.search-form {
    height: 100%;
    display: flex;
    align-items: center;
}
.user-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.navbar {
    height: 7.5vh;
}
.navbar-brand {
    font-size: 25px;
    font-family: 'Poppins';
    color: inherit !important;
    font-weight: bolder !important;
}
.item {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.75);
}
.u-image {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.25);
}
.dropdown > .dropdown-menu {
    width: 200px;
    margin-top: 10px;
}
.theme-switch {
    display: flex;
    padding: 10px 15px 2.5px 15px;
    align-items: center;
    justify-content: space-between;
}
.theme-switch input {
    transform: scale(1.25);
    cursor: pointer;
}
.footer .item {
    transform: scale(1.25);
}
@media screen and ( min-width: 768px ) {    
    .search-focus {
        width: 300px;
    }
}
@media screen and ( max-width: 768px ) {
    .search-form {
        width: 75%;
        height: 50px;
    }
    .user-menu {
        justify-content: space-evenly;
    }
}

/* Search */
.search {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9999;
    width: 400px;
    height: auto;
    max-height: 350px;
    overflow-y: auto;
    border-bottom-right-radius: 16px;
}
.search-user {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.search-user button {
    display: flex;
    align-items: center;
}
@media screen and ( max-width: 768px )  {
    .search {
        width: 100%;
        border-bottom-left-radius: 16px;
    }
    #search:focus ~ .search {
        margin-top: 18.5px;
    }
    .search-user {
        justify-content: space-between;
    }
}

/* Vertical Carousel */
.carousel {
    overflow-y: hidden;
    height: 52px;
}
.carousel-core {
    position: relative;
    padding-bottom: 1px;
    animation: scroll-up 12s ease-in-out infinite;
}

/* Tint */
.tint {
    width: 12px;
    height: 12px;
    position: absolute;
    background-color: inherit;
}
.tint-tr {
    top: 0;
    right: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -50%) rotate(45deg);
}
.tint-tm {
    top: 0;
    right: 37.5%;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -50%) rotate(45deg);
}
.tint-tl {
    top: 0px;
    left: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -50%) rotate(45deg);
}
.tint-br {
    bottom: 0;
    right: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    transform: translate(-50%, 50%) rotate(225deg);
}

/* Notifications */
.notifications {
    background-color: white;
    border-radius: 16px;
    position: absolute;
    z-index: 9999;
    width: max-content;
    height: auto;
    max-height: 400px;
    overflow-y: auto;
    bottom: unset;
    top: 100%;
    margin-left: -200px;
}
@media screen and ( max-width: 768px )  {
    .notifications {
        background-color: white;
        min-height: 100vh;
        max-height: 100vh;
        overflow-y: auto;
        border-radius: 0;
        position: fixed;
        z-index: 9999;
        width: 100vw;
        margin: 0;
        left: 0;
        top: 0;
    }   
}

/* Tooltip */
div:hover > .tool-tip {
    opacity: 1;
}
.tool-tip {
    position: absolute;
    transform: translateY(150%);
    border-radius: 16px;
    min-width: 100px;
    width: auto;
    height: 30px;
    opacity: 0;
}
.tooltip-content {
    text-align: center;
    padding-top: 2.5px;
}

/* Inform Modal */
.modal-container {
    background-color: rgba(25,25,25,0.5);
    position: absolute;
    z-index: 9999;
    height: 100% !important;
    width: 100%;
    left: 0;
    top: 0;
}
.i-modal {
    border-radius: 10px;
    background-color: white;
    width: 500px;
    height: auto;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -250px;
    margin-top: 50px;
    box-shadow: 1px 0px 16px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px 0px 16px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 0px 16px 5px rgba(0,0,0,0.5);
}
.i-modal-header {
    width: 100%;
    height: 20%;
    font-family: 'Poppins';
    font-size: 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.i-modal-main {
    width: 100%;
    height: fit-content;
}
.i-body {   
    transform: translateX(-20%);    
}
.icon-circle {
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-75%);
    box-shadow: 1px 0px 16px 5px rgba(0,0,0,0.25);
    -webkit-box-shadow: 1px 0px 16px 5px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 0px 16px 5px rgba(0,0,0,0.25);
}
@media screen and ( max-width: 768px )  {
    .i-modal {
        width: 75vw;
        margin-left: -37.5vw;
    }
    .i-modal-header {
        font-size: 17.5px;
    }
    .i-body {   
        transform: translateX(2.5%);
        font-size: 12.5px;
    }
    .icon-circle {
        transform: translateX(10%) scale(0.80);
    }
}

/* Loader */
.loader {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 50%;
    display: none;
    margin-left: -50%;
    background-color: rgba(25, 25, 25, 0.2);
}
.square-set .square {
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: -30px;
    margin-top: -30px;
    left: 50%;
    top: 50%;
    border-radius: 5px;
    border: 3px solid rgba(255, 255, 255, 0.75);
}  
.s-1 {  animation: S1 2s infinite;  }
.s-2 {  animation: S2 2s infinite;  }

/* Theme Light */
.theme-light-outer  {
    background-color: rgb(225, 225, 225);
}
.theme-light-middle  {
    background-color: rgb(255, 255, 255);
}
.theme-light-inner  {
    background-color: rgb(240, 240, 240);
}
.theme-light-outer, .theme-light-middle, .theme-light-inner {
    color: rgb(25, 25, 25);
}

/* Theme Dark */
.theme-dark-outer  {
    background-color: rgb(24, 25, 26);
}
.theme-dark-middle  {
    background-color: rgb(28, 30, 33);
}
.theme-dark-inner  {
    background-color: rgb(32, 35, 40);
}
.theme-dark-outer, .theme-dark-middle, .theme-dark-inner {
    color: rgb(238, 238, 238);
}

/* Responsiveness */
.header .system {
    display: flex;
}
.footer-mob {
    display: none;
    height: 60px;
}
@media screen and ( max-width: 768px ) {
    .header .system {
        display: none;
    }
    .footer-mob {
        display: flex;
    }
}

/* Root */
:root {
    --theme-outer: rgb(225, 225, 225);
    --theme-middle: rgb(255, 255, 255);
    --theme-inner: rgb(240, 240, 240);
    --theme-text: rgb(25, 25, 25);
}

/* Scrollbar CSS */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track { 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgba(25, 25, 25, 0.1); 
    box-shadow: inset 0 0 2.5px grey;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(25, 25, 25, 0.15); 
}
@media screen and ( max-width: 768px )  {
    ::-webkit-scrollbar {
        width: 2px;
    }   
}

.feed input, .header input, .profile input, .feed textarea, .profile textarea, .feedback textarea {
    background-color: inherit !important;
    color: inherit !important;
}

/* Animations */
[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 2s ease; 
    text-indent: -100%;
    opacity: 1;
}

@keyframes pulse {
    0% {    transform: scale(1);    }
    50% {   transform: scale(1.25); }
    100% {  transform: scale(1);    }
}
@keyframes volley {
    0% {    margin-left: -30px; }
    50% {   margin-left: -20px; }
    100% {  margin-left: -30px; }
}
@keyframes zoom-in {
    0% {    transform: scale(0);    }
    100% {    transform: scale(1);  }
}
@keyframes scroll-up {
    0%, 20% {   transform: translateY(0);   }
    25%, 45% {  transform: translateY(-25%);    }
    50%, 70% {  transform: translateY(-50%);    }
    75%, 95% {  transform: translateY(-75%);    }
    100% {  transform: translateY(-100%);   }
}
@keyframes S1 {
    0% {    transform: rotate(0deg);    }
    50% {   transform: rotate(90deg);   }
    100% {  transform: rotate(180deg);  }
}    
@keyframes S2 {
    0% {    transform: rotate(180deg);  }
    50% {   transform: rotate(90deg);   }
    100% {  transform: rotate(0deg);    }
}
@keyframes flyup {
    0% { transform: translateY(-10%) }
    50% { transform: translateY(20%) }
    100% { transform: translateY(-10%) }
}