.feed {
    margin-top: 7.5vh !important;
    height: 92.5vh;
}
.feed-title {
    text-transform: uppercase;
}
.feed .col-md-3, .feed .col-md-6 {
    height: 85vh;
}
@media screen and ( max-width: 768px )  {
    .feed {
        margin-bottom: 60px !important;
        height: auto;
    }
}

/* Post */
.feed-post {
    height: 80vh;
    overflow-y: auto;
}
.posts-set {
    border-radius: 10px;
}
.post {
    width: 100%;
    border-radius: 10px;
}
.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.post-creator {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
@media screen and ( max-width : 768px ) {
    .posts-set {
        height: auto;
        overflow-y: hidden;
    }
    .post {
        border-radius: 5px;
    }
    .post-header {
        display: block;
    }
    .post-header .avatar {
        transform: translateY(40%);
    }
    .post-creator .creator {
        margin-bottom: -20px;
    }
    .post-timestamp {
        margin-left: 65px;
    }
}
.post-body > .content {
    text-align: justify;
    padding: 20px;
}
.post-body > .image {
    width: 100%;
    height: 300px;
}
.post-actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.post-actions > div {
    width: 100%;
    cursor: pointer;
}
.post-create-comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.post-create-comment > input {
    border: 0;
    padding-bottom: 5px;
    border-radius: 0;
    outline: none;
    border-bottom: 1px solid rgba(25, 25, 25, 0.25);
}
.post-actions {
    font-weight: bold;
}
.post-actions > div > i {
    font-weight: normal;
}
.post-actions > div:hover * {
    font-weight: bold;
}

/* Comment */
.comment {
    width: 100%;
    height: auto;
    padding: 5px;
}
.comment-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.comment-timestamp {
    font-size: 12.5px;
    padding-top: 5px;
}
.comment-creator {
    display: flex;
    font-size: 17.5px;
    align-items: center;
    justify-content: flex-start;
}
.comment-body {
    padding: 10px;
    text-align: justify;
}

/* Trending */
.feed-trending {
    border-radius: 10px;
    height: 60%;
}
.trend {
    width: 100%;
    border-radius: 10px;
}
.trend-header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.trend-body > .image {
    width: 100%;
    height: 175px;
}
.trend-body > .content {
    font-style: italic;
    text-align: justify;
    padding: 15px;
}
.trend-status {
    width: 100%;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.trend-status > i {
    animation: pulse 1s infinite;
}
@media screen and ( max-width : 768px ) {
    .trend {
        border-radius: 5px;
    }
    .trend-header, .trend-status {
        border-radius: 0;
    }
}

/* Feed Stats */
.feed-stats {
    height: 35%;
}
.stat-set {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.stat {
    width: 100%;
    text-align: center;
}
@media screen and (max-width: 768px)    {
    .feed-stats {
        display: none;
    }
}

/* Feed Chat */
.feed-chat {
    height: 65%;
}
.chat {
    border-radius: 10px;
}
.chat-create {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.chat-content {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 46vh;
    overflow-y: auto;
}
.chat-create > .avatar {
    margin-left: 5px;
}
.chat-create > input {
    border: 0;
    width: 100%;
    padding-bottom: 5px;
    border-radius: 0;
    outline: none;
    margin-left: -25px;
    border-bottom: 1px solid rgba(25, 25, 25, 0.25);
}
.chat-create i {
    margin-left: -30px;
    cursor: pointer;
}
.chat-create input:focus ~ div i {
    animation: volley 1.5s infinite;
}
.notice {
    padding: 30%;
    text-align: center;
    height: 100%;
}
@media screen and ( max-width : 768px ) {
    .feed-chat {
        border-radius: 5px;
        height: 100%;
    }
    .chat-content {
        height: 70vh;
    }
    .chat-header {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .chat-create {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

/* Chat Message */
.message {
    padding: 10px;
    display: flex;
    align-items: top;
    justify-content: flex-start;
    background-color: rgba(25, 25, 25, 0.05);
}
.message .avatar {
    flex: 10%;
    margin-top: 5px;
}
.m-content {
    flex: 90%;
}
.m-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.m-body {
    text-align: justify;
}

/* Updates */
.feed-updates {
    height: 42.5%;
    overflow-y: auto;
}
.updates {
    width: 100%;
    border-radius: 10px;
}
.update {
    border-radius: 10px;
    transform: scale(0);
    animation: zoom-in 0.25s linear forwards;
}
.update-by {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
@media screen and ( max-width : 768px ) {
    .update {
        border-radius: 5px;
    }
}
.u-content {
    width: 100%;
}
.u-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.update-jist {
    display: block;
}

/* Create Post */
.feed-create {
    border-radius: 10px;
    position: relative;
}
.post-trigger {
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
}
@media screen and ( max-width: 768px ) {
    .feed-create, .post-trigger {
        border-radius: 5px;
    }
}
.create-form select, .create-form input, .create-form textarea {
    border-radius: 10px;
}
.create-form {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    z-index: 9999;
    width: 100%;
}
.post-trigger div:hover {
    cursor: pointer;
    background-color: rgba(25, 25, 25, 0.05);
}
.post-trigger i {
    font-weight: normal;
    cursor: pointer;
}
.post-trigger i:hover {
    font-weight: bold;
}
.feed-create-trigger > div, .feed-create > div {
    user-select: none;
}

/* Feedback */
.feedback-modal {
    width: 60vw;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -30vw;
}
.feedback-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.feedback-close {
    cursor: pointer;
}
.feedback-reaction {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 10px;
}
.feedback-reaction div {
    cursor: pointer;
}
.feedback-reaction i {
    border-radius: 50%;
    padding: 15px;
}
@media screen and ( max-width: 768px )  {
    .feedback-modal {
        width: 80vw;
        margin-left: -40vw;
    }
    .feedback-reaction {
        justify-content: space-between;
    }
    .feedback-reaction i {
        padding: 0;
    }
}