.feed-title {
    text-transform: uppercase;
}

/* Post */
.posts-set {
    height: 685px;
    overflow-y: auto;
}
.post {
    width: 100%;
    border-radius: 10px;
    background-color: white;
}
.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post-creator {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
@media screen and ( max-width : 768px ) {
    .posts-set {
        height: auto;
        overflow-y: hidden;
    }
    .post {
        border-radius: 5px;
    }
    .post-header {
        display: block;
    }
    .post-header .avatar {
        transform: translateY(40%);
    }
    .post-creator .creator {
        margin-bottom: -20px;
    }
    .post-timestamp {
        margin-left: 65px;
    }
}
.post-body > .content {
    font-style: italic;
    text-align: justify;
    padding: 20px;
}
.post-body > .image {
    width: 100%;
    height: 300px;
}
.post-actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.post-actions > div {
    width: 100%;
    cursor: pointer;
}
.post-comments {
    padding: 10px;
}
.post-create-comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post-create-comment > input {
    border: 0;
    padding-bottom: 5px;
    border-radius: 0;
    outline: none;
    border-bottom: 1px solid rgba(25, 25, 25, 0.25);
}
.post-actions {
    font-weight: bold;
}
.post-actions > div > i {
    font-weight: normal;
}
.post-actions > div:hover * {
    font-weight: bold;
}

/* Comment */
.comment {
    width: 100%;
    height: auto;
    padding: 5px;
}
.comment-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.comment-timestamp {
    font-size: 12.5px;
    padding-top: 5px;
}
.comment-creator {
    display: flex;
    font-size: 17.5px;
    align-items: center;
    justify-content: flex-start;
}
.comment-body {
    padding: 10px;
    text-align: justify;
}

/* Trending */
.trend {
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: white;
}
@media screen and ( max-width : 768px ) {
    .trend {
        border-radius: 5px;
    }
}
.trend-header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
}
.trend-redirect {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    margin-top: 25px;
    margin-right: 25px;
}
.trend-body > .image {
    width: 100%;
    height: 200px;
}
.trend-body > .content {
    font-style: italic;
    text-align: justify;
    padding: 15px;
}
.trend-status {
    width: 100%;
    text-align: center;
}
.trend-status > i {
    animation: pulse 1s infinite;
}

/* Feed Actions */
.action-set {
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: white;
}
@media screen and ( max-width : 768px ) {
    .action-set {
        border-radius: 5px;
    }
}
.action-set > .action {
    font-size: 20px;
    padding-left: 25px;
    font-weight: bold;
    cursor: pointer;
}
.action-set > .action i {
    font-weight: normal;
}
.action:hover i{
    font-weight: bold;
}
.action a {
    color: rgb(25, 25, 25);
    text-decoration: none;
}

/* Feed Chat */
.feed-chat {
    border-radius: 10px;
    background-color: white;
}
.chat-header {
    font-size: 20px;
    font-weight: bolder;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.chat-create {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
@media screen and ( max-width : 768px ) {
    .feed-chat {
        border-radius: 5px;
    }
    .chat-header {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .chat-create {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}
.chat {
    width: 100%;
    min-height: 428px;
}
.chat-content {
    height: 0;
    max-height: 300px;
    overflow-y: auto;
    animation: pull 0.75s linear forwards;
}
.chat-create > .avatar {
    margin-left: 5px;
}
.chat-create > input {
    border: 0;
    width: 100%;
    padding-bottom: 5px;
    border-radius: 0;
    outline: none;
    margin-left: -25px;
    border-bottom: 1px solid rgba(25, 25, 25, 0.25);
}
.chat-create i {
    margin-left: -35px;
    cursor: pointer;
}
.chat-create input:focus ~ div i {
    animation: volley 1.5s infinite;
}
.chat-header > i {
    animation: pulse 1s infinite;
}
.chat-notice {
    background-color: rgba(25, 25, 25, 0.05);
    padding-top: 30%;
    text-align: center;
    height: 300px;
}

/* Chat Message */
.message {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    background-color: rgba(25, 25, 25, 0.05);
}
.message .avatar {
    flex: 10%;
    margin-top: 5px;
}
.m-content {
    padding-left: 10px;
    flex: 90%;
}
.m-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.m-body {
    text-align: justify;
}

/* Updates */
.updates {
    width: 100%;
    min-height: 250px;
    max-height: 320px;
    overflow-y: auto;
    border-radius: 10px;
}
.update {
    border-radius: 10px;
    transform: scale(0);
    background-color: white;
    animation: zoom-in 0.25s linear forwards;
}
.update-notice {
    padding-top: 25%;
    text-align: center;
    height: 100%;
}
.update-by {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
@media screen and ( max-width : 768px ) {
    .update {
        border-radius: 5px;
    }
}
.u-content {
    width: 100%;
}
.u-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.update-jist {
    display: block;
}

/* Create Post */
.feed-create {
    border-radius: 10px;
    background-color: rgba(25, 25, 25, 0.05);
}
.post-trigger {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    justify-content: space-between;
}
@media screen and ( max-width: 768px ) {
    .feed-create, .post-trigger {
        border-radius: 5px;
    }
}
.create-form select, .create-form input, .create-form textarea {
    border-radius: 10px;
}
.post-trigger div:hover {
    cursor: pointer;
    background-color: rgba(25, 25, 25, 0.05);
}
.post-trigger i {
    font-weight: normal;
    cursor: pointer;
}
.post-trigger i:hover {
    font-weight: bold;
}
.feed-create-trigger > div, .feed-create > div {
    user-select: none;
}