/* Profile */
.profile {
    width: 100%;
    height: auto;
    user-select: none;
}
.profile-header {
    width: 75%;
    height: auto;
    border-radius: 25px;
    position: relative;
}
.profile-bg {
    width: 100%;
    height: 200px;
    position: relative;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.profile-info {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
@media screen and ( max-width: 768px ) {
    .profile-header {
        width: 100%;
        border-radius: 5px;
    }
    .profile-bg {
        height: 200px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .profile-info {
        flex-direction: unset;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

/* Profile Pics & Edits */
.profile-bg .pic-edit {
    width: 200px;
    height: 50px;
    position: absolute;
    bottom: 0;
    color: white;
    display: none;
    cursor: pointer;
    border-top-right-radius: 25px;
    background-color: rgba(255, 255, 255, 0.25);
}
.profile-bg:hover .pic-edit {
    display: block;
}
.profile-pic  {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 25%;
    right: 15%;
    border-radius: 50%;
    background-color: red;
}
.profile-pic .pic-edit  {
    width: 250px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -125px;
    margin-top: -25px;
    display: none;
    cursor: pointer;
    justify-content: center;;
    background-color: rgba(255, 255, 255, 0.25);
}
.profile-pic:hover .pic-edit {
    display: flex;
}
@media screen and ( max-width: 768px ) {
    .profile-bg .pic-edit {
        top: 0;
        left: 50%;
        margin-left: -100px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    .profile-pic  {
        width: 150px;
        height: 150px;
        top: 35%;
        left: 50%;
        margin-left: -75px;
        margin-top: -75px;
    }
    .profile-pic .pic-edit {
        width: 150px;
        margin-left: -75px;
    }
}

/* Profile Initial */
.profile-initial {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    font-weight: bold;
}
@media screen and ( max-width: 768px ) {
    .profile-initial {
        width: 75px;
        height: 75px;
        margin-left: -37.5px;
        margin-top: -37.5px;
        font-size: 75px;
    }
}

/* Profile Stats */
.profile-stats > div {
    padding: 7.5px;
}

/* Profile Details */
.friend-avatars {
    display: flex;
}
.profile-desc {
    width: 60%;
    max-height: 100px;
    overflow-y: auto;
}
@media screen and ( max-width: 768px ) {
    .profile-details {
        padding-top: 25px;
    }
    .profile-desc {
        width: 100%;
        text-align: justify;
    }
}

/* Profile Body */
.profile-body {
    width: 75%;
}
.profile-content {
    height: 200px;
    border-radius: 25px;
}
@media screen and ( max-width: 768px ) {
    .profile-body {
        width: 100%;
    }
    .profile-content {
        border-radius: 5px;
    }
}

/* Profile Navigation */
.profile-nav {
    border-radius: 25px;
    width: fit-content;
    position: absolute;
    left: 50%;
    top: inherit;
    transform: translate(-50%, -50%);
}
.pnav-list {
    display: flex;
    margin: auto;
    padding: 0;
    list-style-type: none;
}
.pnav-item {
    width: 125px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    border-radius: 25px;
}
.pnav-item button {
    display: none;
}
.pnav-item i {
    font-weight: normal;
}
.pnav-item:hover, .pnav-item:hover i {
    font-weight: bold;
}
.pnav-list > .active {
    background-color: rgba(25, 25, 25, 0.125);
}
.active i, .active span {
    font-weight: bold;
}
@media screen and ( max-width: 768px ) {
    .pnav-item {
        width: 60px;
    }
    .pnav-item span {
        display: none;
    }
    .pnav-item i {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        margin-left: 2.5px;
        justify-content: center;
        border-radius: 50%;
    }
}